<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ridemate.user.mapper.UserMapper">
    
    <resultMap id="UserResultMap" type="com.ridemate.user.entity.User">
        <id property="id" column="id" />
        <result property="userIdentifier" column="user_identifier" />
        <result property="nickname" column="nickname" />
        <result property="avatar" column="avatar" />
        <result property="createTime" column="create_time" />
    </resultMap>
    
    <insert id="insert" parameterType="com.ridemate.user.entity.User">
        INSERT INTO user (user_identifier, nickname, avatar)
        VALUES (#{userIdentifier}, #{nickname}, #{avatar})
    </insert>
    
    <select id="selectById" parameterType="java.lang.Long" resultMap="UserResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>
    
    <select id="selectByIdentifier" parameterType="java.lang.String" resultMap="UserResultMap">
        SELECT * FROM user WHERE user_identifier = #{userIdentifier}
    </select>
    
    <update id="update" parameterType="com.ridemate.user.entity.User">
        UPDATE user 
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
